@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>
        <strong>Contactez le développeur:</strong>   <a href="mailto:codemylife7@gmail.com">CodeMyLife</a>  <i class="fa fa-envelope" aria-hidden="true"></i>
    </p>
</div>
