@{
    ViewBag.Title = "Explications Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Installation du client</h2>
    <ol>
        <li>Téléchargez le logiciel en clickant sur le bouton rouge Addons Client dans la barre de navigation en haut à droite.</li>
        <li>Une fois le client téléchargé, procédez à son installation en suivant les étapes de l'installateur.</li>
        <li>Une fois le logiciel installé, vous pouvez lancer le logiciel en utilisant le raccourci sur votre bureau ou dans le menu démarrer.</li>
    </ol>
    <br />
    <h2>Utilisation du client</h2>
    <ol>
        <li>Définir le dossier WoW en clickant sur le bouton en bas à gauche intitulé: Dossier WoW.</li>
        <li>Clicker dans le dropdown au bas à droite du client et choisir quel addon vous désirez activer.</li>
        <li>Activer le addon en clickant sur le bouton Rouge au bas à droite du client.</li>
        <li>Répéter les étapes 2 et 3 pour chacun des addons que vous désirez activer.</li>
        <li>Clicker sur le bouton update pour effectuer les mises à jour des addons.</li>
        <li>
            Effectuer un click droit sur le bouton uptade pour activer les mises à jour automatiques.
            Lorsque le bouton Update sera vert, cela signifie que les mises à jour automatisées sont activées.
        </li>
        <li>Minimisez le client en clickant sur le bouton gris avec un _ en haut à droite.</li>
    </ol>
    <div>
        <img src="@Url.Content("~/Images/explicationsclient.png")" alt="" style="max-width: 100%"/>
    </div>
    <br/>
    <h2>Désinstallation du client</h2>
    <ul>
        <li>Clickez à droite sur le menu démarrer, clickez sur Applications et Fonctionalités. Dans le panneau qui s'ouvre, désinstaller Client We Cleared.</li>
    </ul>
</div>