@{
    ViewBag.Title = "Historique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h5>La Résistance - Mannoroth - Alliance</h5>
    <p>
        Durant WoW Classic et Vanilla, les plus anciens d'entre nous nous sommes rencontrés sur le serveur Mannoroth 
        dans la guilde La Résistance. Nous avons raidé tout les contenus jusqu'à Black Temple. Vers la fin de Black Temple, 
        la guilde s'est déconstruite faute de personnel. Les joueurs se sont dispersés dans d'autres raids un peu partout 
        mais nous gardions quand même contact.
    </p>
    <h5>We Cleared Kazakhstan - Thorteldrin - Alliance</h5>
    <p>
        Vers le début de Wrath of the Lich King, la guilde We Cleared Kazakhstan à été formée sur le serveur Thorteldrin. 
        Les amis de longue date se sont rejoins et nous avons commencé à raider efficacement le contenu héroic en 10 man. 
        Sur ce serveur, le recrutement était très difficile, voir impossible, premièrement parce que le serveur était très 
        peu peuplé et à part nous, il n'y avait aucun joueurs francophones.
    </p>
    <h5> Francs Tireurs (We Cleared) - Exodar - Alliance</h5>
    <p>
        Durant Icecrown Citadel, nous sommes transférés sur le serveur Exodar pour aller rejoindre la guilde Francs Tireurs, 
        une guilde de francophones. Nous y sommes restés pendant plusieurs mois, nous avons rencontré beaucoup de gens, 
        dont certains sont encore avec nous aujourd'hui.
    </p>
    <h5>We Cleared Kazakhstan - Exodar - Alliance</h5>
    <p>
        Durant l'expension Cataclysme, nous nous sommes séparés des Francs Tireurs car nous n'aimions pas avoir à rendre des 
        comptes à l'état major d'une guilde dont l'état major nous méprisait, qui se plaignait que "Nous leur volons leurs 
        bons joueurs" alors que la réalité c'est qu'ils auraient tous voulus joindre notre groupe car nous performions plus.
    </p>
    <h5>We Cleared Kazakhstan - Zul'Jin - Horde</h5>
    <p>
        Nous sommes restés sur Exodar, avons puisé des francophones sur les réseaux sociaux, nous avons raidé sans problèmes 
        réels jusqu'à la fin de Warlords of Draenor, où nous avons pris la décision de transférer la guilde sur Zul'Jin, côté 
        horde, car il serait plus facile durant Légion d'y trouver des joueurs francophones pour compléter un raid Mythic.
    </p>
</div>