@{
    ViewBag.Title = "Page Principale";
}

<div class="jumbotron">
    <p class="lead">Ce site à été réalisé pour répondre aux besoins du groupe de raid We Cleared Kazakhstan.</p>
    <ul>
        <li>Présenter l'<a href="~/home/historique">histoire de la guilde</a>.</li>
        <li>
            Permettre aux nouveaux arrivants de 
            <a href="https://discordapp.com/invite/RmUTvnq?utm_medium=Connect">rejoindre notre serveur Discord</a>.
        </li>
        <li>Mettre en disponibilité le <a href="~/home/explicationsclient" target="_blank">gestionnaire d'addons</a> utilisé par le groupe.</li>
        <li>
            Lien permanent vers le 
            <a href="https://drive.google.com/drive/folders/1tgCK2QmERotTqPkjWxjQ1IfZYstZve2Q?usp=sharing">dossier des stratégies de raid</a>.
        </li>
        <li>Présenter les <a href="~/home/reglements">règles de conduite, de loots et de raiding</a>.</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestionnaire d'addons</h2>
        <p>
            Certains addons qui sont utilisés par les raideurs sont maintenus et mis en ligne via notre client. 
            Vous pouvez télécharger le client ici ou en clickant le bouton rouge dans la barre de navigation.
        </p>
        <p>
            @Html.ActionLink("En savoir plus", "ExplicationsClient", "Home")
        </p>
        @if (Request.IsAuthenticated)
        {
            <p>
                @Html.ActionLink("Voir la liste", "Index", "Addons")
            </p>
        }
    </div>
    <div class="col-md-4">
        <h2>Stratégies de raid</h2>
        <p>
            Présentation des stratégies actuellement utilisées pour certains boss qui requièrement plus de positionnement et d'assignations.
        </p>
        <p><a href="https://drive.google.com/drive/folders/1tgCK2QmERotTqPkjWxjQ1IfZYstZve2Q?usp=sharing" target="_blank">Voir le dossier</a></p>
    </div>
    <div class="col-md-4">
        <h2>Règles de conduite</h2>
        <p>
            Comme dans chaque communautés, nous avons certaines règles de base à respecter. Connaître les règles et s'y conformer est la responsabilité de tous.
        </p>
        <p>
            @Html.ActionLink("Voir les regles de conduite", "Reglements", "Home")
        </p>
    </div>
</div>