@{
    ViewBag.Title = "Reglements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    
    <h3>Règles générales de conduite</h3>
    <h5>Respect</h5>
    <p>
        Nous jouons tous pour avoir du plaisir, le respect est donc de mise dans toutes les situations.
    </p>
    <ul>
        <li>Respecter les autres, autant les raiders que les responsables.</li>
        <li>Utiliser un push-to-talk sur Discord durant les raids.</li>
        <li>Garder un ton poli, éviter de monter le ton, c'est extremement désagréable pour les autres.</li>
        <li>
            Pas de sacres déplacés. Nous ne sommes pas plus catholiques que le pape, mais sacrer sur qulqu'un, ou sur le groupe,
            ce n'est pas constructif et c'est inacceptable.
        </li>
        <li>Éviter de passer des commentaires méprisants ou non constructifs.</li>
    </ul>
    <br />

    <h5>Assiduité</h5>
    <p>C'est désagréable pour tout le monde de se présenter à un raid et de devoir annuler car il manque trop de joueurs.</p>
    <ul>
        <li>Avisez-nous de vos absences.</li>
        <li>Soyez à l'heure ou avisez-nous que vous serez potentiellement en retard.</li>
    </ul>
    <h5>Participation aux consumables de guerre</h5>
    <p>
        Chacun doit y mettre du sien pour permettre que les consumables de groupe soient prêts pour les raids. Bien évidemment on
        ne s'attend pas a ce que une personne s'ocuppe de tout fournir mais si vous pourriez à l'occasion mettre des trucs dans la
        guild bank pour aider à produire les consumables ce serait très apprécié. Le éléments dont nous avons besoin sont les suivants.
    </p>
    <ul>
        <li>Flasks -Pour les chaudrons, envoyez le tout à Manwè directement.</li>
        <li>Food -Pour les feast, déposez les matérieux dans la tab 5 de la guild bank.</li>
        <li>Dreamleaf -Pour les Vantus Runes, déposez les dans la tab 1 de la guild bank.</li>
    </ul>
    <br />

    <h3>Utilisation de RCLootCouncil</h3>
    <p><img src="https://i.imgur.com/KQ30L8s.png" /></p>
    <p>
        Le addon RCLootCouncil ne requiert aucun ajustements pour les raideurs, seuls les master looters doivent le paramétrer.
        Lorsque nous tuons des boss, l'attribution des loots ira selon ce qui sera choisi par les raiders en fonction de leurs besoins.
        Voici l'explication des différentes sélections.
    </p>
    <ul>
        <li>
            <h5>BiS >= 15</h5>
            <p>
                Utiliser seulement si c'est votre Best In Slot (défini dans l'addon Best In Slot) et que vous ne possédez pas l'item ou la
                version que vous possédez est au moins 15 items level plus basse.
            </p>
        </li>
        <li>
            <h5>BiS < 15</h5>
            <p>
                Utiliser seulement si c'est votre Best In Slot (défini dans l'addon Best In Slot), que vous possédez l'item et la
                version que vous possédez est au plus 10 items level plus basse.
            </p>
        </li>
        <li>
            <h5>Forged</h5>
            <p>
                S'applique seulement aux items de tiers. On utilise ce bouton pour participer au roll pour une chance d'avoir des items 
                Warforged ou Titanforged.
            </p>
        </li>
        <li>
            <h5>Upgrade</h5>
            <p>
                Utiliser quand on désire avoir un item qui n'est pas nottre Best In Slot mais qui serait meilleur que l'item que nous 
                utilisons actuellement.
            </p>
        </li>
        <li>
            <h5>Offspec</h5>
            <p>
                Pour tout ceux qui désirent avoir des items pour leur spécialisations secondaires, les raiders qui sont amenés à 
                changer de spécialisations durant les raids seront privilégiés.
            </p>
        </li>
        <li>
            <h5>Xmog</h5>
            <p>
                Pour acquérir l'apparence de l'équipement.
            </p>
        </li>
    </ul>

    <br />
    <h3>Être un bon raideur 101</h3>
    <p>
        Les raids commencent toujours à 19h30. À 19h30, on engage le premier boss. Avant 19h30, chaque raider à la responsabilité de
        préparer les éléments suivants:
    </p>
    <ul>
        <li>Avoir les addons requis, voir la section addons pour des précisions.</li>
        <li>Avoir noes équipements enchantés et gemmés, voir la section équipements pour des précisions.</li>
        <li>Avoir tout les consumables pour sa main spec, voir la section consumables pour des précisions.</li>
        <li>Réparer ses équipements.</li>
        <li>Être sur discord, le canal peut différer, rejoindre les autres où ils sont.</li>
        <li>Apprenez votre rôle. Voyez des vidéos, discutez avec vos confrères, étudiez des stratégies, soyez préparés.</li>
    </ul>
    <p class="lead">
        Addons
    </p>
    <ul>
        <li>
            Avoir le addon RC Loot Council activé. Le addon peut être 
            <a href="https://www.curseforge.com/wow/addons/rclootcouncil" target="_blank">téléchargé sur curse</a> 
            ou installé via le <a href="~/api/weclearedclient/downloadinstaller/1" target="_blank">addons client</a>.
        </li>
        <li>
            Avoir le addon Best In Slot activé. Le addon peut être installé via le 
            <a href="~/api/weclearedclient/downloadinstaller/1" target="_blank">addons client</a>.
        </li>
        <li>
            Avoir le addon Deadly Boss Mods activé. Le addon peut être 
            <a href="https://www.curseforge.com/wow/addons/deadly-boss-mods" target="_blank">téléchargé sur curse</a>
            ou installé via le <a href="~/api/weclearedclient/downloadinstaller/1" target="_blank">addons client</a>.
        </li>
    </ul>
    <p class="lead">
        Équipements
    </p>
    <ul>
        <li>Enchantements sur tout les items possibles. Ces derniers doivent être des bindings (+200). Neck, Cloak, Rings.</li>
        <li>Gems sur tout les items possibles. Des gems de 200, pas de 150.</li>
    </ul>
    <p class="lead">
        Consumables
    </p>
    <ul>
        <li>3(2 pour les alchimistes) flasks pour notre main spec.</li>
        <li>40 potions de dps. Prolonged Power / Deadly Grace / Old War.</li>
        <li>20 potions de Mana (Leytorrent / Ancient Mana) pour les healers.</li>
        <li>
            20 food buff. Lors des raids mythics, nous proposerons souvent des feasts, cependant si vous manquez 
            le feast ou mourrez sur la trash, on ne fera pas de feast a moins que plusieurs personnes en aient besoin. Ayez 
            en toujours un peu.
        </li>
        <li>Augment Runes. Lightforged Augment Runes est idéale, sinon ayez idéalement plus de 20 Augment Runes standard.</li>
    </ul>
</div>